<h1>You've been stringified!</h1>
<% if params[:name].blank? or params[:adjective].blank? %>
    <p><%= @text %></p>
<% else %>
    <p><%= params[:name] %> is so <%= params[:adjective] %></p>
<% end %>